<!DOCTYPE html>


<html lang="en">

<head>
    <title>Edit Time Line Model</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/timeline_editor_page_css/style_morphing_modal.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/timeline_editor_page_css/style.css')}}">
    <link rel="icon" href="{{url_for('static', filename= 'image_elements/g-logo-01.png')}}" />
    <style>
        body {
            background-color: #1A133D;
        }
    </style>

</head>

<body>

    <div>
        <!-- Modal Starts Here-->

        <img src="/static/image_elements/grease_pencil.png" class="logo" alt="grease-pencil-logo" width="250" />
        <div class="modal-bootstrap " id="timeLineEditorModal" tabindex=-1 role="dialog" aria-hidden="true">
            <div class="modal-dialog">

                <form action="{{ url_for('updateFrameInfo') }}" , method="POST" , class="add-product open">

                    <div class="form--field">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="all_background">BG</label>
                                <input class="no-column" type="text" size="27" name="all_background" value="{{display_frame_values.all_background}}" />
                            </div>
                            <div class="col-xs-6">
                                <label for="all_characters">Character</label>
                                <input class="no-column" type="text" size="27" name="all_characters" value="{{display_frame_values.all_characters}}" />
                            </div>

                        </div>
                    </div>
                    <div class="form--container -inline">
                        <div class="form--field -short">
                            <div class="row ">
                                <div class="col-xs-6">
                                    <label for="camera_shot">Camera shot</label>
                                    <input list="shots-and-angle" name="camera_shot" class="form--element " name="" v-model="productData.rating" placeholder="{{display_frame_values.camera_shot}}" multiple="">
                                    <datalist id="shots-and-angle">
                    <option value="Long Shot">
                    </option>
                    <option value="Extreme Long Shot">
                    </option>
                    <option value="Mid Long Shot">
                    </option>
                    <option value="Mid Shot/Bust Shot">
                    </option>
                    <option value="Mid Closeup">
                    </option>
                    <option value="Extreme Closeup">
                    </option>
                    <option value="High Angle">
                    </option>
                    <option value="Low Angle">
                    </option>
                    <option value="Over The Shoulder">
                    </option>
                    <option value="Point Of View">
                    </option>
                    <option value="Dutch Angle">
                    </option>
                  </datalist>
                                </div>
                                <div class="col-xs-6">
                                    <label for="camera_movement">Camera movement</label>
                                    <span class="form--price"></span>
                                    <input list="movement" name="camera_movement" class="form--element" name="" v-model="productData.list_price" placeholder="{{display_frame_values.camera_movement}}">
                                    <datalist id="movement">
                  <option value="Pan Left"></option>
                  <option value="Pan Right"></option>
                  <option value="Tilt Up"></option>
                  <option value="Tilt Down"></option>
                  <option value="Zoom In"></option>
                  <option value="Zoom Out"></option>
                  <option value="Dolly In"></option>
                  <option value="Dolly Out"></option>
                  <option value="Custom"></option>
                  </datalist>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form--field">
                        <label for="long_desc">Description</label>
                        <textarea class="form--element textarea" v-model="productData.description" placeholder="" rows="50" , name="long_desc">{{display_frame_values.long_desc}}</textarea>
                    </div>

                    <button type="submit" class="submit-button">Update Scene</button>
                    <button type="button" onclick="move_to_time_line_page()">Cancel</button>

                </form>

            </div>

        </div>
    </div>
    <form action="{{ url_for('timeline') }}" , methods="GET">
        <input type="submit" id="route_to_timeline" name="success" placeholder="success" hidden>
    </form>

    <script src="{{url_for('static', filename= 'js/timeline_editor_page_js/script.js')}}"></script>
</body>

</html>