<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Story Board Viewer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/storyboard_viewer_page_css/style.css')}}">
    <link rel="icon" href="{{url_for('static', filename= 'image_elements/g-logo-01.png')}}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="../../../css_files/"> -->

</head>

<body>
    <div id="loading">
        <img id="loading-image" src="/static/image_elements/svg_gif_elements/storyboard_loader.gif" alt="Loading..." />
    </div>
    <!-- partial:index.partial.html -->
    <!-- google fonts-->
    <img src="/static/image_elements/grease_pencil.png" class="logo" alt="grease-pencil-logo" width="250" id="control_logo_id" />
    <div style="float: right; margin-right: 50px; margin-top: 30px ">
        <button type="submit" class="submit-button-orange" onclick="downloadStoryboard()">Download Storyboard</button>

    </div>
    <a href="#" class="icon_list" data-js="list" id="for-trigger">
        <span>• -</span>
        <span>• -</span>
        <span>• -</span>
    </a>

    <div class="wrapper">
        <div class="wrapper_inner">
            <!-- Gallery -->
            <section class="gallery">
                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
          <a href="#" data-js="1" id="icon-list">
           
            <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
              <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
            </svg>
            
            <img src="{{url_for('static', filename='image_elements/story_board_samp_images/1.jpg')}}" alt="" /><span>
            <h3>EXT. HAWKINS INDIANA - FADED SKY NIGHT</h3>
            <p>NOVEMBER 6th, 1983 HAWKINS, INDIANA fade up ...</p>

            </span>
                    </a>

                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="1" class="gallery_item_full">
                        <div class="box">
                            <img src="./story_board_samp_images/1.jpg" alt="" />
                            <h3>EXT. HAWKINS - SKY - NIGHT</h3>
                            <p>NOVEMBER 6th, 1983 HAWKINS, INDIANA fade up on the sky.<br></p>
                        </div>
                    </div> -->
                </div>



                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
          <a href="#" data-js="2">
            <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
              <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
            </svg>
            <img src="{{url_for('static', filename='image_elements/story_board_samp_images/2.jpg')}}" alt="" /><span>
            <h3>EXT. HAWKINS NATIONAL LABORATORY BUILDING</h3>
            <p>Imposing building, sitting alone in a dense woods...</p>
            
            </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="2" class="gallery_item_full">
                        <div class="box">

                           
                            <iframe src="./story_board_samp_images/2.jpg"></iframe>
                           

                            <h3>EXT. HAWKINS - SKY - NIGHT</h3>
                            <p>Imposing building, sitting alone in a dense woods. Superimpose titles: HAWKINS NATIONAL LABORATORY U.S. DEPARTMENT OF ENERGY</p>
                        </div>
                    </div> -->
                </div>

                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
          <a href="#" data-js="3">
            <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
              <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
            </svg>
            <img src="{{url_for('static', filename='image_elements/story_board_samp_images/3.jpg')}}" alt="" /><span>
            <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>
            <p>Long windowless corridor toward a steel door...</p>

            </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="3" class="gallery_item_full">
                        <div class="box">
                            <div class="video">
                                <iframe src="//player.vimeo.com/video/89918113"></iframe>
                            </div>
                            <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                        </div>
                    </div> -->
                </div>


                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
          <a href="#" data-js="4">
            <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
              <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
            </svg>
            <img src="{{url_for('static', filename='image_elements/story_board_samp_images/4.jpg')}}" alt="" /><span>
            <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>
            <p>WHOOM!! The door explodes open. Hinges Shrieking..</p>
            </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="4" class="gallery_item_full">
                        <div class="box">
                            <img src="https://25.media.tumblr.com/72ff371588fd911cf7725394740c62a0/tumblr_n2k15mq4xy1st5lhmo1_1280.jpg" alt="" />
                            <h3>Example image</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                        </div>
                    </div> -->
                </div>


                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
          <a href="#" data-js="5">
            <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
              <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
            </svg>
            <img src="{{url_for('static', filename='image_elements/story_board_samp_images/4-1.jpg')}}" alt="" /><span>
            <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>

            <p> He rounds a corner. Up ahead: a Freight Elevator</p>

            </span></a>

                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="5" class="gallery_item_full">
                        <div class="box">
                            <img src="https://25.media.tumblr.com/e615708905cc9df81f901c06ae4afe1e/tumblr_n21ltnVLtz1st5lhmo1_1280.jpg" alt="" />
                            <h3>Example image</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                        </div>
                    </div> -->
                </div>



                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
          <a href="#" data-js="6">
            <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
              <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
            </svg>
            <img src="{{url_for('static', filename='image_elements/story_board_samp_images/5.jpg')}}" alt="" /><span>
            <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
            <p>As he waits for the elevator to arrive, he keeps...</p>

            </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="6" class="gallery_item_full">
                        <div class="box">
                            <img src="https://25.media.tumblr.com/6c0e95d27b8509096274f244ff5aeea9/tumblr_n21lusI21V1st5lhmo1_1280.jpg" alt="" />
                            <h3>Example image</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                        </div>
                    </div> -->
                </div>

                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
          <a href="#" data-js="7">
            <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
              <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
            </svg>
            <img src="{{url_for('static', filename='image_elements/story_board_samp_images/6.jpg')}}" alt="" /><span>
            <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
            <p> The scientist leaps inside, he hits the button for top...
            </p>

            </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="7" class="gallery_item_full">
                        <div class="box">
                            <img src="https://24.media.tumblr.com/bb592565a7d8c4f004973fe3045cac6f/tumblr_n21lvqbJ2m1st5lhmo1_1280.jpg" alt="" />
                            <h3>Example image</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                        </div>
                    </div> -->
                </div>


                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
          <a href="#" data-js="8">
            <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
              <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
            </svg>
            <img src="{{url_for('static', filename='image_elements/story_board_samp_images/7.jpg')}}" alt="" /><span>
            <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
            <p>The scientist is sucked up towards the ceiling by...</p>

            </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="8" class="gallery_item_full">
                        <div class="box">
                            <img src="https://25.media.tumblr.com/0a4075c0b36aa37ddbd85d4e75afbeca/tumblr_n21lwpVo3F1st5lhmo1_1280.jpg" alt="" />
                            <h3>Example image</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                        </div>
                    </div> -->
                </div>

                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
          <a href="#" data-js="9">
            <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
              <path d="M 0.65359477,1.3817905 175.81699,28.832771 176.47059,0.72819569 z"></path>
            </svg>
            <img src="{{url_for('static', filename='image_elements/story_board_samp_images/8.jpg')}}" alt="" /><span>
            <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
            <p>The elevator door snaps shut...</p>

            </span></a>

                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="9" class="gallery_item_full">
                        <div class="box">
                            <img src="https://24.media.tumblr.com/40b727a4d9ea5164103d81590bde4ef6/tumblr_n2k0y8bxXE1st5lhmo1_1280.jpg" alt="" />
                            <h3>Example image</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                        </div>
                    </div> -->
                </div>
                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="1" id="icon-list">
         
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/1.jpg')}}" alt="" /><span>
          <h3>EXT. HAWKINS INDIANA - FADED SKY NIGHT</h3>
          <p>NOVEMBER 6th, 1983 HAWKINS, INDIANA fade up ...</p>

          </span>
                    </a>

                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="1" class="gallery_item_full">
                      <div class="box">
                          <img src="./story_board_samp_images/1.jpg" alt="" />
                          <h3>EXT. HAWKINS - SKY - NIGHT</h3>
                          <p>NOVEMBER 6th, 1983 HAWKINS, INDIANA fade up on the sky.<br></p>
                      </div>
                  </div> -->
                </div>



                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="2">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/2.jpg')}}" alt="" /><span>
          <h3>EXT. HAWKINS NATIONAL LABORATORY BUILDING</h3>
          <p>Imposing building, sitting alone in a dense woods...</p>
          
          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="2" class="gallery_item_full">
                      <div class="box">

                         
                          <iframe src="./story_board_samp_images/2.jpg"></iframe>
                         

                          <h3>EXT. HAWKINS - SKY - NIGHT</h3>
                          <p>Imposing building, sitting alone in a dense woods. Superimpose titles: HAWKINS NATIONAL LABORATORY U.S. DEPARTMENT OF ENERGY</p>
                      </div>
                  </div> -->
                </div>

                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="3">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/3.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>
          <p>Long windowless corridor toward a steel door...</p>

          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="3" class="gallery_item_full">
                      <div class="box">
                          <div class="video">
                              <iframe src="//player.vimeo.com/video/89918113"></iframe>
                          </div>
                          <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>


                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="4">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/4.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>
          <p>WHOOM!! The door explodes open. Hinges Shrieking..</p>
          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="4" class="gallery_item_full">
                      <div class="box">
                          <img src="https://25.media.tumblr.com/72ff371588fd911cf7725394740c62a0/tumblr_n2k15mq4xy1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>


                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="5">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/4-1.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>

          <p> He rounds a corner. Up ahead: a Freight Elevator</p>

          </span></a>

                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="5" class="gallery_item_full">
                      <div class="box">
                          <img src="https://25.media.tumblr.com/e615708905cc9df81f901c06ae4afe1e/tumblr_n21ltnVLtz1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>



                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="6">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/5.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
          <p>As he waits for the elevator to arrive, he keeps...</p>

          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="6" class="gallery_item_full">
                      <div class="box">
                          <img src="https://25.media.tumblr.com/6c0e95d27b8509096274f244ff5aeea9/tumblr_n21lusI21V1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>

                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="7">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/6.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
          <p> The scientist leaps inside, he hits the button for top...
          </p>

          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="7" class="gallery_item_full">
                      <div class="box">
                          <img src="https://24.media.tumblr.com/bb592565a7d8c4f004973fe3045cac6f/tumblr_n21lvqbJ2m1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>


                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="8">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/7.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
          <p>The scientist is sucked up towards the ceiling by...</p>

          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="8" class="gallery_item_full">
                      <div class="box">
                          <img src="https://25.media.tumblr.com/0a4075c0b36aa37ddbd85d4e75afbeca/tumblr_n21lwpVo3F1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>

                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="9">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 175.81699,28.832771 176.47059,0.72819569 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/8.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
          <p>The elevator door snaps shut...</p>

          </span></a>

                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="9" class="gallery_item_full">
                      <div class="box">
                          <img src="https://24.media.tumblr.com/40b727a4d9ea5164103d81590bde4ef6/tumblr_n2k0y8bxXE1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>
                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="1" id="icon-list">
         
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/1.jpg')}}" alt="" /><span>
          <h3>EXT. HAWKINS INDIANA - FADED SKY NIGHT</h3>
          <p>NOVEMBER 6th, 1983 HAWKINS, INDIANA fade up ...</p>

          </span>
                    </a>

                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="1" class="gallery_item_full">
                      <div class="box">
                          <img src="./story_board_samp_images/1.jpg" alt="" />
                          <h3>EXT. HAWKINS - SKY - NIGHT</h3>
                          <p>NOVEMBER 6th, 1983 HAWKINS, INDIANA fade up on the sky.<br></p>
                      </div>
                  </div> -->
                </div>



                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="2">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/2.jpg')}}" alt="" /><span>
          <h3>EXT. HAWKINS NATIONAL LABORATORY BUILDING</h3>
          <p>Imposing building, sitting alone in a dense woods...</p>
          
          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="2" class="gallery_item_full">
                      <div class="box">

                         
                          <iframe src="./story_board_samp_images/2.jpg"></iframe>
                         

                          <h3>EXT. HAWKINS - SKY - NIGHT</h3>
                          <p>Imposing building, sitting alone in a dense woods. Superimpose titles: HAWKINS NATIONAL LABORATORY U.S. DEPARTMENT OF ENERGY</p>
                      </div>
                  </div> -->
                </div>

                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="3">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/3.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>
          <p>Long windowless corridor toward a steel door...</p>

          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="3" class="gallery_item_full">
                      <div class="box">
                          <div class="video">
                              <iframe src="//player.vimeo.com/video/89918113"></iframe>
                          </div>
                          <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>


                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="4">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/4.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>
          <p>WHOOM!! The door explodes open. Hinges Shrieking..</p>
          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="4" class="gallery_item_full">
                      <div class="box">
                          <img src="https://25.media.tumblr.com/72ff371588fd911cf7725394740c62a0/tumblr_n2k15mq4xy1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>


                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="5">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/4-1.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL CORRIDOR</h3>

          <p> He rounds a corner. Up ahead: a Freight Elevator</p>

          </span></a>

                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="5" class="gallery_item_full">
                      <div class="box">
                          <img src="https://25.media.tumblr.com/e615708905cc9df81f901c06ae4afe1e/tumblr_n21ltnVLtz1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>



                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="6">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/5.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
          <p>As he waits for the elevator to arrive, he keeps...</p>

          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="6" class="gallery_item_full">
                      <div class="box">
                          <img src="https://25.media.tumblr.com/6c0e95d27b8509096274f244ff5aeea9/tumblr_n21lusI21V1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>

                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="7">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/6.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
          <p> The scientist leaps inside, he hits the button for top...
          </p>

          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="7" class="gallery_item_full">
                      <div class="box">
                          <img src="https://24.media.tumblr.com/bb592565a7d8c4f004973fe3045cac6f/tumblr_n21lvqbJ2m1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>


                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="8">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 C 60.201925,8.44316 121.92863,11.583451 175.81699,28.832771 l 0.6536,-28.10457531 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/7.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
          <p>The scientist is sucked up towards the ceiling by...</p>

          </span></a>
                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="8" class="gallery_item_full">
                      <div class="box">
                          <img src="https://25.media.tumblr.com/0a4075c0b36aa37ddbd85d4e75afbeca/tumblr_n21lwpVo3F1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>

                <!-- Gallery  item -->
                <div class="gallery_item">
                    <!-- Gallery  item preview -->
                    <span class="gallery_item_preview">
        <a href="#" data-js="9">
          <svg fill="#48ffd5" class="gallery_top" viewbox="0 3 60 20">
            <path d="M 0.65359477,1.3817905 175.81699,28.832771 176.47059,0.72819569 z"></path>
          </svg>
          <img src="{{url_for('static', filename='image_elements/story_board_samp_images/8.jpg')}}" alt="" /><span>
          <h3>INT. HAWKINS LABS - SUB-LEVEL ELEVATOR</h3>
          <p>The elevator door snaps shut...</p>

          </span></a>

                    </span>
                    <!-- Gallery  item full -->
                    <!-- <div data-lk="9" class="gallery_item_full">
                      <div class="box">
                          <img src="https://24.media.tumblr.com/40b727a4d9ea5164103d81590bde4ef6/tumblr_n2k0y8bxXE1st5lhmo1_1280.jpg" alt="" />
                          <h3>Example image</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
                      </div>
                  </div> -->
                </div>
            </section>
        </div>
        <form action="{{ url_for('download') }}" , methods="GET">
            <input type="submit" id="route_to_story_board_viewer" hidden>
        </form>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <!-- <script src="{{url_for('static', filename= 'js/storyboard_viewer_page_js/script.js')}}"></script> -->
    <script src="{{url_for('static', filename= 'js/storyboard_viewer_page_js/script_static.js')}}"></script>

    <!-- <div style="float: right; margin-right: 50px; margin-top: 30px ">
        <button type="submit" class="submit-button-orange">Download Storyboard</button>

    </div> -->

</body>

</html>